.app {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.app__interface {
  width: 500px;
  height: 100%;
  overflow: auto;
}

.app__interface-header {
  padding-inline-start: 1.5rem;
  padding-inline-end: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: 600;
}

.app__interface-container {
  padding-inline-start: 1.5rem;
  padding-inline-end: 1.5rem;
}

.leaflet-container {
  width: 100%;
  height: 100%;
}

.app__form-input-container {
  position: relative;
}

.app__form-input-dropdown {
  width: 100%;
  position: absolute;
  z-index: 400;
  background-color: white;
}

.app__form-input-dropdown-item {
  background-color: white;
  box-sizing: border-box;
  border: 1px solid rgb(230, 230, 230);
  outline: none;
  opacity: 1;
  cursor: pointer;
}

.app__form-input-dropdown-item:hover {
  background-color: rgb(230, 230, 230);
}

div.leaflet-top.leaflet-right {
  opacity: 0;
  display: none;
}

.route-info__instruction-list-item {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  border-bottom: 1px solid rgb(230, 230, 230);
}

.button-on-mobile {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
}

.route-info__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.route-info__cost-input-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center start;
  gap: 8px;
}