.app {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.app__interface {
  width: 500px;
  height: 100%;
  overflow: auto;
}

.leaflet-container {
  width: 100%;
  height: 100%;
}

.app_form-input-container {
  position: relative;
}

.app_form-input-dropdown {
  position: absolute;
}

.app_form-input-dropdown-item {
  background-color: green;
  opacity: 0.8;
  cursor: pointer;
}

.app_form-input-dropdown-item:hover {
  opacity: 1;
}

div.leaflet-top.leaflet-right {
  opacity: 0;
  display: none;
}

.route-info__instruction-list-item {
  display: flex;
  justify-content: space-between;
}